<div class="jumbotron">
  <div class="container">
    <p class="lead">Pool always pay full block reward including TX fees and uncle rewards.</p>
    <strong>
      Block maturity requires <u>up to</u> </strong> <span class="label label-success">520</span> <strong>blocks.
      Usually it's less indeed.
    </strong>
  </div>
  <br>
  <div class="container">
    <strong>Last 24 hours found:</strong>
    <div class="container">
      Blocks: <span class="badge alert-success"> {{model.todayFoundBlocksCount}}</span>
      <br>
      Coins: <span class="badge alert-success"> {{model.todayCoinsCount}}</span>
    </div>
  </div>
</div>
<div class="container">
  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='blocks.index' role='presentation'}}
      {{#link-to 'blocks.index'}}Blocks <span class="badge alert-success">{{format-number model.maturedTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.immature' role='presentation'}}
      {{#link-to 'blocks.immature'}}Immature <span class="badge alert-success">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.pending' role='presentation'}}
      {{#link-to 'blocks.pending'}}New Blocks <span class="badge alert-info">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}}
  </ul>
  {{outlet}}
</div>
