<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>{{config.ApplicationName}} Pool</strong>
        </h1>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong>, Payouts run twice per day.<br/>
        <span class="label label-success">PROP</span> Stable and profitable pool with regular payouts.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
        <div><i class="fa fa-money"></i> <span> Pricing USD: {{model.USD}} </span> </div>
        <div><i class="fa fa-money"></i> <span> Pricing BTC: {{model.BTC}} </span> </div>
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Expanse Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="panel-body in">

        <p>Mining command line</p>
        <p class="small"><code>ethminer.exe -G -F http://eth-eu.dwarfpool.com:80/YOUR_WALLET</code></p>
        <p>You can determine your rigs separately for better statistic. Determine workername with letters and numbers</p>
        <p class="small"><code>ethminer.exe -G -F http://eth-eu.dwarfpool.com:80/YOUR_WALLET/YOUR_WORKER</code></p>
        <p>You can also mine <strong>direct to any exchange</strong></p>
        <hr>
        <p>To enable <strong>email-monitoring</strong> of your worker, use email in url. To disable monitoring, restart your miner without email.</p>
        <p class="small"><code>ethminer.exe -G -F http://eth-eu.dwarfpool.com/YOUR_WALLET/YOUR_WORKER/EMAIL</code></p>
        <p>and without workers</p>
        <p class="small"><code>ethminer.exe -G -F http://eth-eu.dwarfpool.com/YOUR_WALLET/EMAIL</code></p>
        <hr>
        <p>Example wallet <i>0xea7263feb7d8a8ab0a11eedd8f1ce04412ab0820</i>, worker <i>rig1</i> and <i>mail@example.com</i> for monitoring</p>
        <p class="small"><code>ethminer.exe -G -F <br>&nbsp;&nbsp;&nbsp;http://eth-eu.dwarfpool.com/0x2a65aca4...35398226/rig1/mail@example.com</code></p>
        <hr>
        <p>Install <strong>ethminer</strong></p>
        <p><a href="https://ethereum.org/cli" class="btn btn-primary btn-sm">Official binary and source code</a>
          <a href="http://cryptomining-blog.com/5417-getting-started-with-ethereum-using-cpp-ethereum/" class="btn btn-primary btn-sm">Windows</a>
          <a href="http://spacience.blogspot.de/2015/05/ethereum-gpu-mining-ubuntu-1404-lts.html" class="btn btn-primary btn-sm">Linux</a> </p>
        <p class="small"><strong>Do not use Catalyst 16.x!!! Drops up to 30% on hasharate or no shares at all!</strong></p>
        <hr><a name="proxy"></a>
        <p><b>Stratum Proxy v0.0.5</b>. Additional <strong>10%~20%</strong> increase of earning compared to standard getwork and failover option</p>
        <p>Download <a href="https://github.com/Atrides/eth-proxy" class="btn btn-primary btn-sm">Github</a> <a href="http://dwarfpool.com/static/eth-proxy.zip" class="btn btn-primary btn-sm">Source code and/or Linux</a> <a href="http://dwarfpool.com/static/eth-proxy-win.zip" class="btn btn-primary btn-sm">Windows</a>
        </p><p>Command line to miner start, recommended farm-recheck to use with stratum-proxy is 200</p>
        <p class="small"><code>./ethminer --farm-recheck 200 -G -F http://127.0.0.1:8080/rig1</code></p>
        <p>How to <a href="https://bitcointalk.org/index.php?topic=1200891">install</a></p>
        <p>If your antivirus says exe file has virus, you use very bad antivirus. Exe file is just compiled version of python open sourceproxy.</p>
        <hr>

        <hr>
        <p><strong>If you don't see your miner on the stats page</strong>, 99.9% that you have corrupted DAG file. You must <a href="https://forum.ethereum.org/discussion/2114/where-are-my-config-files-go-and-cpp">delete it</a> and restart ethminer.<br>If you use proxy first time, check eth-proxy.conf file and your wallet here.</p>
        <hr>
        <p>How to <a href="http://dwarfpool.com/faq/#maxspeed">maximize your hashrate</a></p>
        <hr>
        <p>Pool mining wallet <a href="https://etherchain.org/account/0x2a65aca4d5fc5b5c859090a6c34d164135398226">0x2a65aca4d5fc5b5c859090a6c34d164135398226</a></p>
        <p>Pool donate wallet <a href="https://etherchain.org/account/0xea7263feb7d8a8ab0a11eedd8f1ce04412ab0820">0xea7263feb7d8a8ab0a11eedd8f1ce04412ab0820</a></p>
      </div>

    </div>

  </div>
</div>
